* {
    margin: 10px;
    padding: 10px;
}

body {
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

.contenidor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: black;
}

/* Pare 1 - Fill 1 */
.contenidor1-1 {
    display: flex;
    background: purple;
}
.contenidor1-1-1 {
    flex-basis: 20%;
    background: coral;
}
.contenidor1-1-1-mitj {
    flex-basis: 60%;
    background: coral;
}

/* Pare 1 - Fill 2 */
.contenidor1-2 {
    background: orange;
}
.contenidor1-2-1 {
    background: yellow;
    font-size: large;
    font-weight: bold;
}

/* Pare 2 - Fill 1 */
.contenidor2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
    height: auto;
    background: lightgray;
}
.azul {
    background: blue;
    color: white;
}
.celeste {
    background: lightskyblue;
    grid-column: span 2;
}
.seccio2 {
    flex-direction: row;
}

/* Pare 2 - Fill 2 */
.contenidor2-2 {
    flex-basis: 20%;
    background: lightcoral;
}
.contenidor2-2 > div {
    background: lightgoldenrodyellow;
}

/* Pare 3 - Fill 1 */
.contenidor3-1 {
    background: moccasin;
}

/* Versió tauleta */
@media (max-width: 720px) {
    .contenidor1-1 {
        flex-direction: column;
    }
    .seccio2 {
        flex-direction: column;
        background: yellow;
    }
}

/* Versió mòbil */
@media (max-width: 500px) {
    .contenidor2-1 {
        display: flex;
        flex-direction: column;
    }
}