body {
    max-width: 1200px;
}

.contenidor {
    display: flex;
    flex-direction: column;
    background: black;
    margin: 10px;
    padding: 10px;
}

.contenidor1-1 {
    display: flex;
    background: purple;
    margin: 10px;
    padding: 10px;
}

.contenidor1-1-1 {
    flex-basis: 20%;
    background: coral;
    margin: 10px;
    padding: 10px;
}

.contenidor1-1-1-mitj {
    flex-basis: 60%;
    background: coral;
    margin: 10px;
    padding: 10px;
}

.contenidor1-2 {
    background: orange;
    margin: 10px;
    padding: 10px;
}

.contenidor1-2-1 {
    flex-grow: 1;
    background: yellow;
    margin: 10px;
    padding: 10px;
}

.contenidor2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background: lightgray;
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 75%;
}
.contenidor2-1 > div {
    background: blue;
}

.contenidor2-2 {
    flex-basis: 25%;
    align-items: space-evenly;
    background: lightcoral;
    margin: 10px;
    padding: 10px;
}
.contenidor2-2 > div {
    background: lightgoldenrodyellow;
    margin: 10px;
    padding: 10px;
}

.contenidor3-1 {
    background: moccasin;
    margin: 10px;
    padding: 10px;
}